<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<a href="/">go home</a>
<h1>Cars</h1>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year of issue</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">model</td>
        <td th:text="${car.color}">color</td>
        <td th:text="${car.year}">year</td>
    </tr>
    </tbody>
</table>
</body>
</html>
